.Appp{
    padding: 4rem;
    background: #fff;
}
.App-header{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.barlist{
    margin-bottom: 24px;
    
}

.Appp-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    overflow: visible;
}

.Appp-wrapper {
    position: relative;
    margin: 50px 0 45px;
    
}

.cards__items {
    margin-bottom: 24px;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

@media only screen and (min-width: 1024px) {
    .barlist {
      display: flex;
    }
  }