.barLi{
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
}
.circular-chart{
    
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
}
.circle-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}
.circular-chart-bg{
    width: 200px;
    height: 200px;
    

}

.circle {
    display: flex;
    fill: none;

}
.h1{



    color: wheat;
}
.h1:hover{
    transform: scale(1.04);
}
.percentage {
    font-size: 1.3rem;
    text-anchor: middle;
    fill: #fff;
    font-weight: bold;
}